.App {
  width: 100%;
}

.genral {
  width: 100%;
}

.row {
  background-color: #0D0221;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#israilImg {
  height: 100vh;
  width: 100%;
}

.menu-container {
  width: 440px;
  display: inline-block;
  position: relative;
  top: 150px;
}

.colon1 {
  padding-right: 50px !important;
}

.israilStyle {
  color: #E93F33;
  font-size: 100px;
  font-family: 'Rubik', sans-serif;
}

@media (max-width: 640px) {
  #decalageMenu {
    color: white !important;
    margin-top: 0px;
  }

  #israilImg {
    width: 75%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
  }

  .colon1 {
    padding-right: 0px !important;
  }
}

@media (min-width: 1280px) {
  .colon1 {
    padding-right: 100px !important;
  }
}

/* text styling */ 

#decalageMenu {
  color:white;
  font-size: 100px;
  font-family: 'Rubik', sans-serif;
  margin-top: 180px;
}

.mouseEnter {
  color: #F1BBCC !important;
}

.mouseOut {
  color: white !important;
}

.homeLinks:hover, .homeLinks:visited, .homeLinks:link, .homeLinks:active
{
    text-decoration: none !important;
}